/* apply a neutral box layout mode*/
body {
    background-color: #EFEFEF;
    font-family: 'Lato', sans-serif;
    font color: #9B9B9B;
    position: relative;
    z-index: 1;
    line-height: 9.0px;
}
html, body {
 margin: 0;
}



a:link {
    color: #9B9B9B; 
    background-color: transparent; 
    text-decoration: none;
}


a:visited {
    color: #727272;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #FFE34C; 
    background-color: transparent; 
    text-decoration: none;
}


header {
    height: 168px;
    top: -112px;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: #EFEFEF;
    filter: blur(5px);
}

 @media screen and (max-width: 1140px) {
 footer 
   {visibility: hidden;}
    
}
    
.header2 {
    height: 6px;
    top: -11px;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: #EFEFEF;
    
}

 @media screen and (min-width: 1140px) {
 .header2
   {visibility: hidden;}
    
}


@media screen and (min-width: 1140px) {
  .mobileShow {visibility: hidden;}
  }
} 
 
  


  @media screen and (min-width: 480px) {
 .mobileShow 
    {display: inline-block;
    position: relative;
    left: 123px;
      z-index: 2;
      height: 168px;
    top: -112px;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: #EFEFEF;
    filter: blur(5px);
    }
    
}



#content {
  width: 100%;
  position: absolute;
  top:70px;
  bottom: 0px;
  overflow: auto;
}


/*this where the pics go*/
.container {
  margin: auto;
  max-width: 1200px;
  
}

.responsive-image {
  max-width: 100%;
}

.cell img {
  display: block;
 filter: grayscale(100%);
-webkit-filter:  grayscale(100%);
-moz-filter:  grayscale(100%);
-o-filter:  grayscale(100%);
-ms-filter:  grayscale(100%);
  transition:0s;
  z-index: 2;
  
}

img:hover {
  filter: none;
  -webkit-filter: none;
    -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

@media screen and (min-width: 480px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cell {
    width: 50%;
  }
}

@media screen and (min-width: 480px) {
  .cell {
    width: calc(33.3333% - 2rem);
  }
}

.cell {
  margin: 51px 16px -118px;
}
 /* end */

/*links 
*/
  
.numbers {
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    position: fixed;
    display: inline-block;
    /* transform: rotate(90deg) translate3d(21%,0,0); */
    top: 152px;
    right: 1287px;
    color: #9B9B9B;
    transform-origin: left top 0;
    float: left /* white-space: nowrap;; */;
}

.words {
    font-family: 'Abel', sans-serif;
    position: fixed;
    display: inline-block;
    transform: rotate(270deg);
    top: 317px;
    right: -178px;
    color: #9B9B9B;
    font-size: 23px;
    transform-origin: left top 0;
    float: left /* white-space: nowrap;; */;

}

footer {
  height: 25px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  background-color: #FFE34C;
  
}

@media screen and (min-width: 480px) {
  
}
.footer2 {
  height: 25px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  background-color: #FFE34C;
   font-family: 'Lato', sans-serif;
    font color: #9B9B9B;
  line-height: 19px;
  
}
  }
