
/* apply a neutral box layout mode*/
body {
    background-color: #EFEFEF;
    font-family: 'Lato', sans-serif;
    color: #9B9B9B;
    position: relative;
    z-index: 1;
    line-height: 23px;

width:100%;
  
}


/*page stuff*/

.pagecontent {
  
   margin: 0 auto;
  max-width: 515px;
  height: 100px;
  border-radius: 3px;
   line-height: 1.5;
    font-family: 'Lato', sans-serif;
    color: #9B9B9B;
  
}

.pagecontent2 {
    height: 209px;
    top: 8%;
    left: 60%;
    width: 36%;
    position: fixed;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
    color: #9B9B9B;
  
  
}

.pagecontent3 {
    height: 209px;
    top: -298px;
    left: 14%;
    width: 26%;
    position: absolute;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #9B9B9B;
}
 @media screen and (max-width: 1140px) {
  .pagecontent3
   {display: none;
   position: absolute;}
    
}


.pagecontent4 {
    height: 129px;
    top: -298px;
    left: 50%;
    width: 46%;
    position: absolute;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #9B9B9B;
  }
 @media screen and (max-width: 1140px) {
  .pagecontent4
    {display: none;
   position: absolute;}
    
}
@media screen and (max-width: 1140px) {
  .pagecontent2 {visibility: hidden;}
  }

.imgContain {
    height: 776px;
    top: 294px;
    left: 7%;
    /* margin-right: 80px; */
    width: 100%;
    position: absolute;
    line-height: 1.5;
    font-family: Lato, sans-serif;
    color: black;
    }


.imgContain img {
   width: 100%; 
    height: 100%; 
    object-fit: contain;
}
@media screen and (max-width: 1140px) {
 .imgContain img
   {display:none;}
    
}
 
.imgContain2 {
    height: 776px;
    top: 434px;
    left: 19%;
    /* margin-right: 80px; */
    width: 100%;
    position: relative;
    line-height: 1.5;
    font-family: Lato, sans-serif;
    color: black;
    z-index: 1;
   
    
    
  }

.imgContain2 img {
   width: 100%; 
    height: 100%; 
    object-fit: contain;
}
@media screen and (max-width: 1140px) {
 .imgContain2 img
   {display:none;}
    
}


a:link {
    color: #9B9B9B; 
    background-color: transparent; 
    text-decoration: none;
}


a:visited {
    color: #727272;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #FFE34C; 
    background-color: transparent; 
    text-decoration: none;
}

h1 {
    font-family: 'lato', sans-serif;
    font-size: 25px;
    top: -1px;
    left: -1px;
    color: #9B9B9B;
    width: 100%;
    position: fixed;
    z-index: 3;
}

h3 {
    color: #727272;
    
}
header {
    height: 168px;
    top: -112px;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: #EFEFEF;
    filter: blur(5px);
    z-index: 2;
}


    
.header2 {
    height: 6px;
    top: -16px;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: #EFEFEF;
    z-index: 2;
}



@media screen and (min-width: 1140px) {
  .mobileShow {visibility: hidden;}
  }
} 
 
  


  @media screen and (min-width: 400px) {
 .mobileShow 
    {display: inline-block;
    position: relative;
    left: 123px;
      z-index: 2;
      height: 168px;
    top: -112px;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: #EFEFEF;
    filter: blur(5px);
    }
    
}



.content {
  width: 100%;
  position: absolute;
  top:70px;
  bottom: 0px;
  overflow: auto;
}


/*this where the pics go*/
.container {
  margin: auto;
  max-width: 1200px;
  
}

.responsive-image {
    max-width: 100%;
   
    
}


.cell img{
  display: block;
  transition:0s;
  z-index: 2;
  
}





@media screen and (min-width: 40px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cell {
    width: 50%;
  }
}

@media screen and (min-width: 400px) {
  .cell {
    width: calc(33.3333% - 2rem);
  }
}

.cell {
  margin: 51px 16px -118px;
}
 /* end */

/*links 
*/
  



footer {
    height: 25px;
    width: 2500px;
  max-width: 100%;
    position: fixed;
   left: -1px;
    bottom: 0px;
    background-color: #FFE34C;
  font-family: 'Lato', sans-serif;
    font-size: 16px;
  color: #727272;
  
}



  



/* social media */

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}

/*vday page*/


.vdayvid {
    top: -6px;
    left: 276px;
    width: 100%;
    position: absolute;
}

/* truck pics */

@media screen and (min-width: 400px) {
  .grid2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cell2 {
    width: 39%;
  }
}

@media screen and (max-width: 700px) {
  .cell2 {
    width: calc(146.3333% - 2rem);
  }
}

.cell2 {
  margin: 59px -35px 2px;
}


/*video */
