/* apply a neutral box layout mode*/
body {
    background-color: #EFEFEF;
    font-family: 'Lato', sans-serif;
    font color: #9B9B9B;
    position: relative;
    z-index: 1;
    line-height: 9.0px;
  
}
html, body {
 margin: 0;
}

/*page stuff*/

.pagecontent {
  
    height: 209px;
    top: 35%;
    left: 20%;
    width: 60%;
    position: fixed;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
    color: #9B9B9B;
  
  
}

.pagecontent2 {
    height: 209px;
    top: 8%;
    left: 60%;
    width: 36%;
    position: fixed;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
    color: #9B9B9B;
  
  
}
@media screen and (min-width: 480px) {
  .pagecontent2 {
    width: calc(33.3333% - 2rem);
  }

.pagecontent3 {
    height: 129px;
    top: 154px;
    left: 20%;
    width: 26%;
    position: sticky;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #9B9B9B;
  
}
@media screen and (min-width: 480px) {
  .pagecontent4 {
    width: calc(33.3333% - 2rem);
  }
  
.pagecontent4 {
    height: 129px;
    top: 154px;
    left: 50%;
    width: 46%;
    position: sticky;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #9B9B9B;
    
  
  
}

@media screen and (max-width: 1140px) {
  .pagecontent2 {visibility: hidden;}
  }

.imgContain {
    height: 720px;
    top: 400px;
    left: 20%;
    margin-right: 96px;
    width: 60%;
    position: absolute;
    line-height: 1.5;
    font-family: Lato, sans-serif;
    color: black;
   
    
    
  }

.imgContain img {
   width: 100%; 
    height: 100%; 
    object-fit: contain;
}

 


a:link {
    color: #9B9B9B; 
    background-color: transparent; 
    text-decoration: none;
}


a:visited {
    color: #727272;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #FFE34C; 
    background-color: transparent; 
    text-decoration: none;
}

h1 {
    font-family: 'Lato', sans-serif;
    top: 4px;
    left: 0px;
    color: #9B9B9B;
    width: 100%;
    position: fixed;
    z-index: 3;
}

h3 {
    color: #727272;
    
}
header {
    height: 168px;
    top: -112px;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: #EFEFEF;
    filter: blur(5px);
    z-index: 1px;
}

 @media screen and (max-width: 1140px) {
 footer 
   {visibility: hidden;}
    
}
    
.header2 {
    height: 6px;
    top: -16px;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: #EFEFEF;
    z-index: 1px;
}

 @media screen and (min-width: 1140px) {
 .header2
   {visibility: hidden;}
    
}


@media screen and (min-width: 1140px) {
  .mobileShow {visibility: hidden;}
  }
} 
 
  


  @media screen and (min-width: 480px) {
 .mobileShow 
    {display: inline-block;
    position: relative;
    left: 123px;
      z-index: 2;
      height: 168px;
    top: -112px;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: #EFEFEF;
    filter: blur(5px);
    }
    
}



.content {
  width: 100%;
  position: absolute;
  top:70px;
  bottom: 0px;
  overflow: auto;
}


/*this where the pics go*/
.container {
  margin: auto;
  max-width: 1200px;
  
}

.responsive-image {
  max-width: 100%;
}

.cell img {
  display: block;
  transition:0s;
  z-index: 2;
  
}



@media screen and (min-width: 480px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cell {
    width: 50%;
  }
}

@media screen and (min-width: 480px) {
  .cell {
    width: calc(33.3333% - 2rem);
  }
}

.cell {
  margin: 51px 16px -118px;
}
 /* end */

/*links 
*/
  
.numbers {
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    position: fixed;
    display: inline-block;
    /* transform: rotate(90deg) translate3d(21%,0,0); */
    top: 152px;
    right: 1287px;
    color: #9B9B9B;
    transform-origin: left top 0;
    float: left /* white-space: nowrap;; */;
}

.words {
    font-family: 'Abel', sans-serif;
    position: fixed;
    display: inline-block;
    transform: rotate(270deg);
    top: 317px;
    right: -178px;
    color: #9B9B9B;
    font-size: 23px;
    transform-origin: left top 0;
    float: left /* white-space: nowrap;; */;

}

footer {
  height: 25px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  background-color: #FFE34C;
  
  
}

@media screen and (min-width: 480px) {
  
}
.footer2 {
  height: 25px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  background-color: #FFE34C;
   font-family: 'Lato', sans-serif;
    font color: #9B9B9B;
  line-height: 19px;
  z-index: 7px;
  
}
  }

/*gallery stuff*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* VIDEO DIVS */

.vid1 {
    top: 198px;
    left: 24px;
    width: 100%;
    position: absolute;
  
 
}

 @media screen and (max-width: 1340px) {
 .vid1 
   {visibility: hidden;}
    
}

.vid2 {
    top: 924px;
    left: 25px;
    width: 100%;
    position: absolute;
 
}

 @media screen and (max-width: 1140px) {
 .vid2 
   {visibility: hidden;}
    
}

.vid3 {
    top: 1651px;
    left: 25px;
    width: 100%;
    position: absolute;
 
}

 @media screen and (max-width: 1140px) {
 .vid3 
   {visibility: hidden;}
    
}

.vid4 {
    top: 2377px;
    left: 25px;
    width: 100%;
    position: absolute;
 
}

 @media screen and (max-width: 1140px) {
 .vid4 
   {visibility: hidden;}
    
}

.vid5 {
    top: 3104px;
    left: 25px;
    width: 100%;
    position: absolute;
}

 @media screen and (max-width: 1140px) {
 .vid5 
   {visibility: hidden;}
    
}