body{
  background: #ffc8bf;
  font-family: 'Sigmar One', cursive;
  font-size: 80px;
  color: beige;
  
  }



Canvas {
  background: white;
    width: 849px;
    height: 696px;
    float: left;
    border: 1px solid #000000;
}

#Svg{
  width: 100px;
  height: 100px;
  
}
div {
  cursor: move;
    margin: -49px;
    float: right;
}
}

.draggable {
  background-color:yellow;
}



